/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/11/2020, 22:22:27
    Author     : phily
*/
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Anton&family=Arima+Madurai&family=Bree+Serif&family=Crete+Round&display=swap');

h4{
    font-family: 'Arima Madurai';
    font-weight: bold;
    font-size: 25px;
}

h5{
    font-family: 'Crete Round';  
    font-weight: bold;    
    float: left;
}

label{
    position: relative;
    margin-left: 500px;   
}

#divDatosGerente{    
  /*  margin-left: 575px;    */
    width: 700px;
    height: 400px;    
}

#datosUsuario{
    height: 30px;    
    width: 275px;
}

#acciones{/*hay que cambiarlo a submit para estandarizar...*/
    height: 50px;
    text-align: center;     
}

#submit{
    width: 220px;
    height: 65px;         
}
